body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 75px;

}

h1 {
  color:rgb(255, 178, 61);
  text-align: center;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 800px;
  margin-bottom: 25px;
  font-weight: 200;
}

label, p {
  display: block;
  margin: 15px;
  font-size: 20px;
}


footer {
  text-align: center;
}


input, select,
textarea {
  color: rgb(63, 63, 63);
}

a {
  text-decoration: none;
  color:rgb(255, 178, 61);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-container{
  background-color: rgba(255, 178, 61, 0.1);
  padding: 15px;
  border-radius: 25px;
  height: auto;
  width: auto;
  padding: 25px;
  padding-top: 6;
  padding-left: 5px;
}


input[type="email"] {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 18px;
  border-radius: 25px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}


input[type="text"] {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 18px;
  border-radius: 25px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}

input[type="number"]{
  display: block;
  width: 98%;
  height: 35px;
  font-size: 18px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}

/*hide buttons on number input*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/*------------------------------*/

input[type="radio"] {
  accent-color: rgb(255, 178, 61);
  border: 0;

}

input[type="checkbox"] {
  accent-color: rgb(255, 178, 61);
  border: 0;


}

select{
  display: block;
  width: 50%;
  height: 35px;
  font-size: 18px;
  border-radius: 25px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
}


#title {
  margin-top: 25px;
  margin-bottom: 25px;
}



#survey-form {
  margin: 0 auto;
  max-width: 800px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 93%;
  height: 150px;
  min-height: 150px;
  resize: none;
  font-size: 18px;
  border-radius: 25px;
  margin-bottom: 5px;
  padding: 25px;
  margin-left: 10px;
  border: none;
}


.submit {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 25px;
  background-color: white;
  color: rgb(31, 31, 31);
  border: none;
}

.submit:active{
  background-color:rgb(255, 178, 61);
}

